main.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  section {
    p.title {
      color: #747486;
      font-size: 13px;
      font-weight: 400;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      width: 90vw;
      max-width: 350px;
      input[name="meeting-code"] {
        height: 45px;
        font-size: 16px;
        padding: 0 10px;
        margin-bottom: 5px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid #b1acac;
      }
      p.meeting-terms {
        font-size: 15px;
      }
      button[type="submit"] {
        height: 45px;
        font-size: 18px;
        border: none;
        background-color: #d3d3d3b5;
        letter-spacing: 1px;
        border-radius: 10px;
      }
    }
  }
}
