.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  @extend .flex-row;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  justify-content: space-between;
  height: 63px;
  background-color: white;
  box-shadow: 0 0 2px #00000033;
  .left-nav {
    @extend .flex-row;
    height: 100%;
    a {
      height: 100%;
      @extend .flex-row;
      img.logo-img {
        width: 200px;
        margin-left: -13px;
      }
    }
  }
  .right-nav {
    @extend .flex-row;
    height: 100%;

    button.tab-btn {
      height: 100%;
      background-color: white;
      outline: none;

      padding: 0 15px;
      color: #1164c3;
      font-weight: 500;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      &.join:hover,
      &.host:hover {
        background-color: #eaeaea;
      }
      &.sign-up,
      &.sign-in {
        display: none;
      }
      span.desktop {
        display: none;
      }
      span.mobile {
        display: block;
      }
      span.hamburger {
        display: block;
      }
    }
    button.hamburger {
      .hamburger-dropdown-menu {
        display: inline-block;
        transform: scaleY(0);
        visibility: hidden;
        position: absolute;
        width: 100vw;
        right: 0;
        text-align: left;
        transition: 0.6s;
        transform-origin: top;
        top: 0;
        margin-top: 63px;
        ul {
          background-color: #eaeaea;
          margin: 0;
          font-size: 12px;

          list-style: none;
          padding-left: 0px;
          li {
            // padding: 10px;
            border-bottom: 1px solid #e3e3e3;
            padding-left: 10px;
            a {
              text-decoration: none;
              color: black;
              height: 100%;
              display: block;
              position: relative;
              padding: 10px;
            }
            &:hover {
              background-color: #08c;

              a {
                color: white;
              }
            }
          }
        }
        &.is-active {
          transform: scaleY(1);
          visibility: visible;
          position: absolute;
          width: 100vw;
          right: 0;
          text-align: left;
          top: 0;
          margin-top: 63px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  nav {
    .left-nav {
      a {
        img.logo-img {
          width: 100px;
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  nav {
    .right-nav {
      // a.tab-btn {
      // }
      a.tab-btn.nav-btn-link {
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        font-weight: 700;
      }
      button.tab-btn,
      a.tab-btn {
        height: 100%;
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 15px;
        color: #1164c3;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        span.desktop.menu-dropdown {
          ul {
            display: inline-block;
            transform: scale(0);
            transform-origin: left;
            transition: 0.6s;
            position: absolute;
            list-style: none;
            opacity: 0;
            visibility: hidden;
            margin-top: 1rem;
            margin-left: -5rem;
            li {
              width: 100%;
              margin: 6px 0;
              a {
                color: black;
                font-weight: 200;
                text-transform: none;
                width: 100%;
                display: inline-block;
                text-decoration: none;
              }
            }
          }
        }
        &:hover {
          span.desktop {
            span.menu-chevron {
              position: relative;
              transform: rotate(180deg);
              display: inline-block;
              transition: 0.7s ease-in-out;
            }
          }
          span.desktop.menu-dropdown {
            ul {
              margin: 0;
              opacity: 1;
              visibility: visible;
              transform: scale(1);
              padding: 1rem;
              transform-origin: top;
              position: absolute;
              background-color: white;
              box-shadow: 1px 1px 5px grey;
              border-radius: 6px;
              margin-top: 1rem;
              margin-left: -5rem;
              min-width: 106px;
              text-align: left;
              display: flex;
              display: inline-block;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
            }
          }
        }
        span.desktop {
          display: block;
        }
        span.mobile {
          display: none;
        }
        &.hamburger {
          display: none;
        }
        &.sign-up {
          font-size: 15px;
          color: white;
          background-color: #f26d21;
          height: 33px;
          border-radius: 5px;
          margin: auto 10px;
          border: none;
          outline: none;
          font-weight: 500;
          display: block;
        }
        &.sign-in {
          display: block;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          display: flex;
          color: #1164c3;
          font-weight: 700;
          font-size: 13px;
          text-transform: uppercase;
          &:hover {
            background-color: #eaeaea;
          }
        }
      }
    }
    button.hamburger-dropdown-menu {
      display: none;
      transform: scale(0);
      visibility: hidden;
    }
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
button.tab-btn.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding-right: 0px;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #298dffe0;
}

.hamburger-box {
  width: 37px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #298dffe0;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}

.hamburger.is-active .hamburger-inner::before {
  top: -10px;
}
.hamburger.is-active .hamburger-inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
