.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  @extend .flex-row;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  height: 63px;
  box-shadow: 0 0 2px #00000033;
  .left-nav {
    @extend .flex-row;
    height: 100%;
    a {
      height: 100%;
      @extend .flex-row;
      img.logo-img {
        width: 200px;
        margin-left: -13px;
      }
    }
  }
  .right-nav {
    @extend .flex-row;
    height: 100%;

    button.tab-btn {
      height: 100%;
      background-color: white;
      outline: none;

      padding: 0 15px;
      color: #1164c3;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      &.sign-up,
      &.sign-in {
        display: none;
      }
      span.desktop {
        display: none;
      }
      span.mobile {
        display: block;
      }
      span.hamburger {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  nav {
    .left-nav {
      a {
        img.logo-img {
          width: 100px;
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  nav {
    .right-nav {
      button.tab-btn {
        height: 100%;
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 15px;
        color: #1164c3;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        span.desktop {
          display: block;
        }
        span.mobile {
          display: none;
        }
        &.hamburger {
          display: none;
        }
        &.sign-up {
          font-size: 15px;
          color: white;
          background-color: #f26d21;
          height: 33px;
          border-radius: 5px;
          margin: auto 10px;
          border: none;
          outline: none;
          font-weight: 500;
          display: block;
        }
        &.sign-in {
          display: block;
        }
      }
    }
  }
}
